server:
  port: 8081
logging:
  level:
    root: info
spring:
  datasource:
    url: jdbc:h2:mem:ai-agent;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  sql:
    init:
      mode: always

llm:
  base-url: https://dashscope.aliyuncs.com/compatible-mode/v1
  model-name: qwen3-vl-30b-a3b-thinking
  system-prompt-file: system_prompt.md
